.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-box {
  margin: 10px 0;
}

input {
  padding: 8px;
  margin-left: 5px;
}

button {
  padding: 10px 20px;
  margin: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}